<section class="container">
  <div class="row">
    <div class="col-sm-1 col-md-6" *ngFor="let animal of filteredAnimals">
      <div class="thumbnail">
        <div class="caption">
          <img class="animal-photo" src="https://static.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg"/>
          <h3>Name: {{animal.name}}</h3>
          <p>Behaviour description: {{animal.behaviourDescription}}</p>
          <p>Date of birth: {{animal.dateOfBirth}}</p>
          <p>Animal identifier in our shelter: {{animal.animalIdentifier}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
