<section class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6" *ngFor="let animal of filteredAnimals">
      <div class="thumbnail">
        <div class="caption">
          <a [routerLink]="['/availableAnimals', animal.id, 'details']">
            <img class="animal-photo"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnq9D9hjZWUiDZucUj5aVt_dGjEultANyKEHLWI3JHlWh_biFP"/>
          </a>
          <h3>Name: {{animal.name}}</h3>
          <p>Behaviour description: {{animal.behaviorDescription}}</p>
          <p>Date of birth: {{animal.dateOfBirth}}</p>
          <p>Animal identifier in our shelter: {{animal.animalIdentifier}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
